<%include ./partials/header%>
<center>
    <h1 class="LoginPage" style="margin-top:113px;">Welcome to login </h1>
</center>
<div class="ui middle aligned center aligned grid">
    <form class="ui large form error">
    <div class="loginfo">
    <span class="logname">Username</span>
    <br>
    <div class="field">
    <div class="ui left icon input"style="margin-top:20px;">
        <i class="user icon" style="margin-left:-20px;"></i>
    <input  type="text" name="username" >
    </div>
    <br>
    <br>
    <span class="logpass">Password</span>
    <br>
    <div class="ui left icon input" style="margin-top:20px;"0>
    <i class="lock icon" style="margin-left:-20px;"></i>
        <input type="password" name="password">
    </div>
</div>
</div>
<button class="ui primary button" style="margin-left: 185px;margin-top: 20px;">Login</button>
    </form>
</div>
<%include ./partials/footer%>
